<h1 align = "center">About page for the Insight Blog</h1>
<p align = "center"><%=  link_to 'Home', root_path%></p></br>

<div class = "container">
    <h4> <p align = "center">
       
        Insight blog is a web applicaton for online Blogging. A place where user can share, connect, create,</br>
        and inspire. It is a complete Ruby on Rails web application developed using HTML, CSS,</br> Bootstrap and JavaScript.</br>
        
        </h4>
    </p>
                     
</div>