<!DOCTYPE html>
<html>
    <head>
        <title>Alpha-Blog</title>
        <h1 align = center> Alpha-Blog</h1>
    </head>

    <body>
        <p align = center> <%= link_to "All Articles", articles_path %> | <%=  link_to 'About', about_path%> </p>
        
        <div align = center> <img src = "http://images.huffingtonpost.com/2016-06-28-1467144390-9166476-blogging.jpg" alt = "Blog Picture" 
                                         width="1000" height="300" > 
        </div>
        
        <div align = justify>
            <table style="width:100%">
                <tr>
                    <th text-align = left , border = 1px>Blog1</th>
                    <th>Blog2</th>
                    </tr>
                  <tr>
                    <td>
                        <p>
                            Lorem ipsum dolor sit amet, viris quidam melius cu usu, mei at habeo senserit. 
                            Vis ut eruditi definitionem, vix ex legere aeterno, aeterno eruditi fabellas eos et. 
                            Tantas quaeque no has, liber appareat nec eu. Ut nec omnesque oporteat.
                            Sea senserit dignissim democritum eu, justo mandamus maluisset qui no, nusquam commune mea ut. 
                            No illud scribentur has, postea tamquam est ne, eos laudem latine iuvaret no. Mei liber zril oblique ei, nec at homero incorrupte disputando. 
                            His inermis mandamus adipiscing an, nec ei viris epicuri. Ei impedit iracundia has. Has vitae sadipscing contentiones eu.
                            His alia errem postea et. Nullam everti commodo mei ex, eu ius illud semper forensibus, illum vituperata ex qui. At qui erant copiosae, has iriure utamur ut. 
                            Eam feugiat scribentur ea, ne has elitr everti singulis, per ne iudico similique. Aliquip qualisque sit ut. Eros solum noluisse usu cu, eam illud utamur ei.

                        </p>
                    </td>
                    <td><p>
                            Lorem ipsum dolor sit amet, viris quidam melius cu usu, mei at habeo senserit. 
                            Vis ut eruditi definitionem, vix ex legere aeterno, aeterno eruditi fabellas eos et. 
                            Tantas quaeque no has, liber appareat nec eu. Ut nec omnesque oporteat.
                            Sea senserit dignissim democritum eu, justo mandamus maluisset qui no, nusquam commune mea ut. 
                            No illud scribentur has, postea tamquam est ne, eos laudem latine iuvaret no. Mei liber zril oblique ei, nec at homero incorrupte disputando. 
                            His inermis mandamus adipiscing an, nec ei viris epicuri. Ei impedit iracundia has. Has vitae sadipscing contentiones eu.
                            His alia errem postea et. Nullam everti commodo mei ex, eu ius illud semper forensibus, illum vituperata ex qui. At qui erant copiosae, has iriure utamur ut. 
                            Eam feugiat scribentur ea, ne has elitr everti singulis, per ne iudico similique. Aliquip qualisque sit ut. Eros solum noluisse usu cu, eam illud utamur ei.

                        </p></td>
                   
                  </tr>
            
            </div>
                
                    
    </body>
</html>
