
    <p> <h3 align = "center">“Put your blog out into the world and hope that your talent will speak for itself.”</h3></p></br>

    <div>
        <p align = "center">
            <img src = "http://www.lucidica.com/wp-content/uploads/2016/04/8-Top-Proven-Benefits-of-Business-Blogging.jpg"  width = "690px"  height = "210px" id = "blog_img" alt = "Blog image">
        </p></br></br>

    </div>

    <p><h1 align = "center">Welcome to the <em id = "name"> Alpha Blog </em> </h1></p> </br>
    <p>
        <h3 align = "center">A place to <br>  Share | Connect | Create | Inspire </br></h3>
    
    </p></br>
    <div align = "middle">
        <%= link_to "Sign-Up now", signup_path , class: "btn btn-primary btn-xlg "%> 
    </div>
